@mixin iconFill($color) {
  color: $color;

  & path {
    fill: $color;
  }
}

@mixin colors($bgColor, $color) {
  background-color: $bgColor;
  color: $color;

  .icon {
    color: $color;
  }
}

@mixin border($size, $style, $color) {
  border: $size $style $color;
}

@mixin inner-border($size, $offset, $color, $style: solid) {
  outline: $style $size $color;
  outline-offset: $offset;
}

@mixin no-margin-no-padding {
  margin: 0;
  padding: 0;
}

@mixin available-width {
  width: -webkit-fill-available;
  width: -moz-available;
}

@mixin ellipsis($whiteSpace: nowrap) {
  white-space: $whiteSpace;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin webkit-scrollbar($size) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
}

@mixin webkit-scrollbar-thumb($color) {
  &::-webkit-scrollbar-thumb {
    background: $color;
    border-radius: $border-radius;
    border: 0px;
  }
}

@mixin webkit-scrollbar-track($color) {
  &::-webkit-scrollbar-track {
    background: $color;
    border-radius: $border-radius;
  }
}

@mixin scrollbar-style {
  @include webkit-scrollbar-thumb(5px);
  @include webkit-scrollbar-thumb($light-gray-rule-lines);
}
