//font-sizes - relative to body-1 i.e. 16px
$font-size-h1: 3.063rem; //49px
$font-size-h2: 2.625rem; //42px
$font-size-h3: 2rem; //32px
$font-size-h4: 1.5rem; //24px
$font-size-subtitle-1: 1.313rem; //21px
$font-size-subtitle-2: 1.125rem; //18px
$font-size-body-1: 1rem; //16px
$font-size-body-2: 0.875rem; //14px
$font-size-overline: 0.875rem; //14px
$font-size-caption: 0.875rem; //14px
$font-size-headline-bold: 1.313rem; //21px
$font-size-button-body-1: 1rem; //16px
$font-size-button-body-2: 0.875rem; //14px
$font-size-product-cards: 1.313rem; //21px
$font-size-modal-headline: 1.313rem; //21px
$font-size-image-upload-icon: 2.125rem; //34px
$font-size-drawer-small-icon: 1.25rem; //20px
$font-size-drawer-large-icon: 1.75rem; //28px

$line-height-h1: 3.5rem; //56px
$line-height-h2: 3rem; //48px
$line-height-h3: 2.25rem; //36px
$line-height-h4: 1.75rem; //28px
$line-height-subtitle-1: 1.5rem; //24px
$line-height-subtitle-2: 1.313rem; //21px
$line-height-body-1: 1.5rem; //24px
$line-height-body-2: 1.125rem; //18px
$line-height-overline: 1.125rem; //18px
$line-height-caption: 1rem; //16px
$line-height-headline-bold: 1.75rem; //28px
$line-height-button-body-1: 1.5rem; //24px
$line-height-button-body-2: 1rem; //16px
$line-height-product-cards: 1.313rem; //21px
$line-height-modal-headline: 1.75rem; //28px
$line-height-drawer-large-icon: 1.25rem; //20px

@font-face {
  font-family: GT-Walsheim-Pro-Bold;
  src: url('../../assets/fonts/gt-walsheim-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GT-Walsheim-Pro-Medium;
  src: url('../../assets/fonts/gt-walsheim-medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GT-Walsheim-Pro-Regular;
  src: url('../../assets/fonts/gt-walsheim-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@mixin font-body-regular {
  font-family: GT-Walsheim-Pro-Regular, sans-serif;
}

@mixin font-body-medium {
  font-family: GT-Walsheim-Pro-Medium, sans-serif;
}

@mixin font-body-bold {
  font-family: GT-Walsheim-Pro-Bold, sans-serif;
}

@mixin font-icon {
  letter-spacing: 0.14px;
  text-align: center;
}

@mixin typ-h1 {
  @include font-body-bold;
  font-weight: 700;
  font-size: $font-size-h1;
  line-height: $line-height-h1;
}

@mixin typ-h2 {
  @include font-body-bold;
  font-weight: 700;
  font-size: $font-size-h2;
  line-height: $line-height-h2;
}

@mixin typ-h3 {
  @include font-body-bold;
  font-weight: 700;
  font-size: $font-size-h3;
  line-height: $line-height-h3;
}

@mixin typ-h4 {
  @include font-body-bold;
  font-weight: 700;
  font-size: $font-size-h4;
  line-height: $line-height-h4;
}

@mixin typ-subtitle-1 {
  @include font-body-medium;
  font-weight: 500;
  font-size: $font-size-subtitle-1;
  line-height: $line-height-subtitle-1;
}

@mixin typ-subtitle-1-regular {
  @include font-body-regular;
  font-weight: 400;
  font-size: $font-size-subtitle-1;
  line-height: $line-height-subtitle-1;
}

@mixin typ-subtitle-2 {
  @include font-body-medium;
  font-weight: 500;
  font-size: $font-size-subtitle-2;
  line-height: $line-height-subtitle-2;
}

@mixin typ-subtitle-2-regular {
  @include font-body-regular;
  font-weight: 400;
  font-size: $font-size-subtitle-2;
  line-height: $line-height-subtitle-2;
}

@mixin typ-subtitle-2-bold {
  @include font-body-bold;
  font-weight: 700;
  font-size: $font-size-subtitle-2;
  line-height: $line-height-subtitle-2;
}

@mixin typ-body-1-16-regular {
  @include font-body-regular;
  font-weight: 400;
  font-size: $font-size-body-1;
  line-height: $line-height-body-1;
}

@mixin typ-body-1-16-medium {
  @include font-body-medium;
  font-weight: 500;
  font-size: $font-size-body-1;
  line-height: $line-height-body-1;
}

@mixin typ-body-1-16-bold {
  @include font-body-bold;
  font-weight: 700;
  font-size: $font-size-body-1;
  line-height: $line-height-body-1;
}

@mixin typ-body-2-14-regular {
  @include font-body-regular;
  font-weight: 400;
  font-size: $font-size-body-2;
  line-height: $line-height-body-2;
}

@mixin typ-body-2-14-medium {
  @include font-body-medium;
  font-weight: 500;
  font-size: $font-size-body-2;
  line-height: $line-height-body-2;
}

@mixin typ-body-2-14-bold {
  @include font-body-bold;
  font-weight: 700;
  font-size: $font-size-body-2;
  line-height: $line-height-body-2;
}

@mixin typ-overline {
  @include font-body-medium;
  font-weight: 500;
  font-size: $font-size-overline;
  line-height: $line-height-overline;

  letter-spacing: 0.28px;
  text-transform: uppercase;
}

@mixin typ-caption {
  @include font-body-medium;
  font-weight: 500;
  font-size: $font-size-caption;
  line-height: $line-height-caption;
}

@mixin typ-headline-bold {
  @include font-body-bold;
  font-weight: 700;
  font-size: $font-size-headline-bold;
  line-height: $line-height-headline-bold;
}

@mixin typ-button-body-1 {
  @include font-body-bold;
  font-weight: 700;
  font-size: $font-size-button-body-1;
  line-height: $line-height-button-body-1;
}

@mixin typ-button-body-2 {
  @include font-body-bold;
  font-weight: 700;
  font-size: $font-size-button-body-2;
  line-height: $line-height-button-body-2;
}

@mixin typ-product-cards {
  @include font-body-bold;
  font-weight: 700;
  font-size: $font-size-product-cards;
  line-height: $line-height-product-cards;
}

@mixin typ-modal-headline {
  @include font-body-bold;
  font-weight: 700;
  font-size: $font-size-modal-headline;
  line-height: $line-height-modal-headline;
}

@mixin typ-font-icon-desktop {
  @include font-icon;
  font-size: 1rem; //16px
  line-height: 1rem; //16px
}

@mixin typ-font-medium-icon-desktop {
  @include font-icon;
  font-size: 1.125rem; //18px
  line-height: 1.125rem; //18px
}

@mixin typ-font-large-icon-desktop {
  @include font-icon;
  font-size: 1.5rem; //24px
  line-height: 1.5rem; //24px
}

@mixin typ-font-drawer-small-icon-mobile {
  @include font-icon;
  font-size: $font-size-drawer-small-icon; //20px
  line-height: $line-height-button-body-2; //16px
}

@mixin typ-font-drawer-large-icon-desktop {
  @include font-icon;
  font-size: $font-size-drawer-large-icon; //28px
  line-height: $line-height-drawer-large-icon; //20px
}

@mixin typ-font-icon-mobile {
  @include font-icon;
  font-size: 0.875rem; //14px
  line-height: 0.875rem; //14px
}

@mixin typ-font-image-upload-icon {
  font-size: $font-size-image-upload-icon;
  font-weight: 900;
  line-height: normal;
}
