@import '../../../styles/common_design.scss';

.eticket-card {
  margin: 0px 8px;
  @include md-desktop() {
    width: calc(100% - 32px);
  }

  @include xs-mobile() {
    width: calc(100vw - 32px);
  }

  &-wrapper {
    @include flexbox-positional-style();
    flex-direction: column;
    height: 279px;
    border: 1px solid $light-gray-rule-lines-2;
    border-radius: 12px;
    margin-bottom: 40px;
  }

  &:first-child {
    margin-left: 16px;
  }
  &-partyName {
    padding-top: 16px;
    @include typ-body-2-14-regular;
    color: $dark-gray-on-white;
  }

  &-fullName {
    padding-top: 8px;
    color: $common-black;
    @include typ-body-1-16-bold;
  }
  &-ticketQR {
    margin-top: 16px;
    svg {
      margin: auto;
    }
  }
  &-ticketId {
    padding-top: 16px;
    @include typ-body-2-14-regular;
    color: $dark-gray-on-white;
  }
}
