@import '../../../styles/common_design.scss';

.date-picker-container {
  position: relative;

  .input-label {
    @include typ-body-1-16-medium();
    @include flexbox-positional-style($display-flex, unset, center);
    gap: 8px;
    color: $common-black;
    margin: 0;

    .date-picker-tool-tip {
      @include typ-body-2-14-regular;
    }
  }

  .input-container {
    @include flexbox-positional-style($display-flex, space-between, center);
    border-radius: 12px;
    padding: 9px;
    border: 2px solid $common-black;

    .placeholder-container {
      @include typ-body-1-16-medium();
      color: $dark-gray-on-white;
      padding-right: 5px;
      &:not([data-value='placeholderText']) {
        color: $common-black;
      }
    }
  }

  .menu-container {
    padding: 32px;
    width: 492px;
    box-sizing: border-box;
    background-color: $common-white;
    border: 1px solid $dark-purple;
    box-shadow: 4px 4px 4px #0000001a;
    border-radius: 12px;
    position: absolute;
    z-index: 1;
  }

  .action-button-container {
    @include flexbox-positional-style($display-flex, center);
    width: 100%;
    padding: 32px 10px 0;
    box-sizing: border-box;

    .action-button {
      margin: 0 6px;
    }
  }

  .description-container {
    @include typ-body-2-14-regular();
    color: $common-black;
    margin: 0;
    padding: 0 16px 24px;
  }

  .calendar-wrapper {
    margin: 0 16px 16px;
    border: 1px solid $light-gray-rule-lines;
    border-radius: 12px;
  }

  .calendar-heading {
    @include typ-body-2-14-bold();
    @include flexbox-positional-style($display-flex, center);
    color: $common-black;
    margin: 0;
  }

  .calendar-footer {
    margin-bottom: 16px;
  }
}

@include xs-mobile() {
  .date-picker-container {
    .calendar-heading {
      padding-top: 16px;
    }

    .action-button-container {
      padding: 0 10px;

      .action-button {
        flex-grow: 1;
      }
    }
  }
}
