@import '../../ui/styles/common_design.scss';

.event-detail-page {
  position: relative;

  &.registered {
    background-color: $light-orange !important;

    .event-details {
      &-title,
      &-desc,
      &-view-toggle {
        color: $dark-orange;
      }

      &-registered {
        @include display-behaviour($display-block);
        margin-bottom: 8px;
      }
    }
  }

  .event-details {
    width: $lg-width;
    margin: 0 auto;
    padding-top: 32px;

    @include xs-mobile() {
      width: 100vw;
      padding-top: 0px;
      margin: 0 auto;
    }

    &-wrapper {
      @include display-behaviour($display-inline-block);
      width: 60%;

      @include xs-mobile() {
        @include display-behaviour($display-block);
        width: 100vw;
      }
    }

    &-thumbnail {
      @include display-behaviour($display-inline-block);
      width: 40%;
      max-width: 400px;
      vertical-align: top;
      img {
        width: 100%;
      }

      @include xs-mobile() {
        width: 100%;
        max-width: 100vw;
        img {
          width: 100%;
        }
      }
    }

    &-registered {
      @include display-behaviour($display-none);
    }

    &-title {
      @include typ-headline-bold();
      padding: 0px 16px;

      @include xs-mobile() {
        padding: 24px 16px 8px 16px;
        @include typ-h4();
      }
    }

    &-desc {
      padding: 0px 16px;
      @include typ-body-1-16-regular;
    }

    &-view-toggle {
      padding: 5px 16px;
      @include typ-body-2-14-medium();
      text-decoration: underline;
      cursor: pointer;
    }

    &-buttons {
      padding: 20px 16px;
      @include display-behaviour($display-flex);
      gap: 8px;

      .share {
        @include display-behaviour($display-inline-block);
      }
    }

    &-card {
      padding: 24px 16px;
      background-color: $common-white;
      border-radius: 25px;
      margin: 16px 0px 10px 0px;

      @include xs-mobile() {
        margin: 0px 16px 10px 16px;
        width: calc(100vw - (16px * 5));
      }

      .title {
        @include typ-headline-bold;
      }

      .item {
        padding-top: 16px;
        vertical-align: top;

        .icon {
          @include display-behaviour($display-inline-block);
          vertical-align: top;
          width: 30px;
          padding-top: 5px;
        }

        .info {
          @include display-behaviour($display-inline-block);
          @include typ-body-2-14-regular;
          color: $common-black;

          &.warning {
            color: $error-red;
          }
        }
      }
    }
  }

  .event-register {
    &.mobile {
      @include display-behaviour($display-none);

      @include xs-mobile() {
        @include display-behaviour($display-block);
        position: fixed;
        padding: 0px 16px;
        bottom: 10px;
        width: calc(100% - 16px * 2);
      }
    }

    &.desktop {
      @include display-behaviour($display-inline-block);
      padding: 0px 16px;
      width: fit-content;

      @include xs-mobile() {
        @include display-behaviour($display-none);
      }
    }
  }
}

.event-registration {
  .MuiPaper-root {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
  }
}
