@import '../../../styles/common_design.scss';

.success-wrapper {
  z-index: 10;
  margin: auto;
  width: 343px;

  .successInfo-box {
    position: relative;
    width: calc(343px - 16px * 2);
    height: 356px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: $dark-purple;
    color: $common-white;
    padding: 32px 16px 0px 16px;

    &-bg {
      z-index: 0;
      position: absolute;
      bottom: 0px;
      left: 0px;
    }

    &-title {
      z-index: 1;
      @include typ-body-2-14-bold;
    }

    &-info {
      z-index: 1;
      @include typ-h2;
    }

    &-desc {
      padding-top: 8px;
      @include typ-body-2-14-regular;
    }
  }

  .successInfo-details {
    border-radius: 12px;
    width: calc(343px - 16px * 2);
    max-width: 343px;
    height: unset;
  }
}
