@import '../../../styles/common_design.scss';

.registeredTag {
  height: 18px;
  width: 100px;
  padding: 2px 8px;
  background-color: $dark-orange;
  border-radius: 4px;
  @include typ-body-2-14-regular;
  white-space: nowrap;
  color: $common-white;

  img {
    @include display-behaviour($display-inline-block);
    margin-right: 4px;
    margin-top: -2px;
  }

  div {
    @include display-behaviour($display-inline-block);
  }
}
